{% extends "base.html" %}
{% block content %}

    <h3 class="indigo-text- text-darken-4 center-align">Add Task</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix indigo-text text-darken-4"></i>
                <input id="task_name" name="task_name" minlength="5" maxlength="50"
                    type="text" class="validate">
                <label for="task_name">Task Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix indigo-text text-darken-4"></i>
                <textarea id="task_description" name="task_description" minlength="5" 
                    maxlength="200" class="materialize-textarea"></textarea>
                <label for="task_description">Textarea</label>
            </div>
        </div>
        </form>
    </div>
        

{% endblock %}